body {
    width: 1280px ;
    margin: 0 auto;
    margin-top: 40px;
    font-family: Verdana, Geneva, sans-serif;
    background: lightsteelblue;
    filter: drop-shadow(0px 1px 1px #022b3a) ;
}

h1 {
	background: #022b3a;
	color: ghostwhite;
	margin: 0;
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

h2 {
    background: steelblue;
	color: ghostwhite;
    margin: 0;
    padding: 10px;
}

h3 {
    float: right;
}

h4 {
    color: steelblue;
    font-size: 14px;
    margin: 0;
    padding: 10px;
}

h5 {
    color: #022b3a;
    text-align: center;
    font-size: 12px;
    margin: 0;
    margin-top: 35px;
    padding: 0;
}

p {
    color: #022b3a;
    font-size: 12px;
    margin: 0;
    padding: 10px;
}

div.right {
    background: ghostwhite;
	width: 820px;
	height: 600px;
	margin: 0;
	padding: 0;
	float: right;
}

div.left {
	background: ghostwhite;
	width: 460px;
	height: 600px;
	margin: 0;
	padding: 0;
	float: left;
}

.gm-style-iw + div {
    display: none;
}


