body {
    width: 1280px ;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, sans-serif;
    background: lightsteelblue;
    filter: drop-shadow(0px 1px 1px #022b3a) ;
}

h1 {
	color: ghostwhite;
    display: inline;
}

h2 {
    background: steelblue;
	color: ghostwhite;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    height: 14px;
}

h3 {
    float: right;
}

h4 {
    color: steelblue;
    font-size: 14px;
    margin: 0;
    padding: 10px;
}

h5 {
    color: #022b3a;
    text-align: center;
    font-size: 12px;
    margin: 0;
    margin-top: 25px;
    padding: 0;
}

object {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    padding-top: 35px;
}

button {
    background: rgba(176,196,222, 0.4);
    color: #022b3a;
    text-align: center;
    font-size: 12px;
    margin: 0;
    margin-bottom: 30px;
    padding: 5px;
    float: left;
    width: calc(50%);
    outline: none;
    border: none;
    transition-duration: 0.4s;
}

button:hover{
    background: rgba(176,196,222, 0.6);
    color: #022b3a;
    cursor: pointer;
    outline: none;
    border: none;
}

button:focus{
    background: rgb(176,196,222);
    color: #022b3a;
    cursor: pointer;
    outline: none;
    border: none;
}

p {
    color: #022b3a;
    font-size: 12px;
    margin: 0;
    padding: 10px;
}

nav {
    width: 100%;
    overflow: hidden;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 11px;
    text-align: center;
    width: 50%;
    float: left;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #022b3a;
    background: rgba(176,196,222, 0.4);
}

li:hover{
    background: rgba(176,196,222, 0.6);
    cursor: pointer;
}

li.active{
    background: rgba(176,196,222, 1);
    cursor: pointer;
}

table th {
    color: lightsteelblue;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

table td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

table td.leg {
    text-align: left;
}

div.top {
    background: #022b3a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 10px;
    padding-bottom: 5px;
}

div.right {
    background: ghostwhite;
	width: 820px;
	height: 600px;
	margin: 0;
	padding: 0;
	float: right;
}

div.left {
	background: ghostwhite;
	width: 460px;
	height: 600px;
	margin: 0;
	padding: 0;
	float: left;
}

div#weather_icon, div#weather_sum{
    color: ghostwhite;
    float: right;
}

div#weather_sum{
    padding: 15px 5px 0 0;
}

div#weather_icon{
    height: 30px;
    width: 30px;
    padding: 0 15px 0 0;
}

.gm-style-iw + div {
    display: none;
}
