<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dublin Bikes</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>


        <!-- JavaScript -->
        <script type="text/javascript">
            
            // Load the Visualization API and the ColumnChart package.
            google.load('visualization', '1', {'packages':['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawPieChart);
            google.setOnLoadCallback(drawLineChart);


            //#--------------------------------------------------------------------------#//
            // Creates + populates table for piechart, draws piechart. 
            function drawPieChart() {
                // Setting values
                var data = google.visualization.arrayToDataTable([
                    // What does this line do?
                    ['', '', { role: 'style' }], 
                    ['Spaces Available', {{ current_info.available }}, 'gold'], 
                    ['Spaces Unavailable', {{ current_info.bikes }}, 'silver']]);

                var options = {
                    chartArea: {width: '95%', height: '80%'},
                    pieSliceText: 'value',
                    fontName: 'Verdana',
                    color: '#022b3a;',
                    backgroundColor: 'transparent',
                    colors: ['#4682b4', '#b0c4de'],
                    pieStartAngle: 90,};

                // Create. draw the charts and select the div where they are to be included
                var pie_chart = new google.visualization.PieChart(document.getElementById('current_chart_div'));
                pie_chart.draw(data, options);
            }


            //#--------------------------------------------------------------------------#//
            // Creates + populates table for linechart, draws linechart. 
            function drawLineChart() {
                // Formatting data from Python. 
                var array = [['Time', 'Empty Spaces']];
                {% for info in full_day_info %}
                var temp_array = ['{{ info.time }}', {{ info.available }}];
                array.push(temp_array);
                {% endfor %}

                // Setting values
                var data = google.visualization.arrayToDataTable(array);

                 var options = {
                    chartArea: {width: '80%', height: '69%'},
                    pieSliceText: 'value',
                    fontName: 'Verdana',
                    color: '#022b3a;',
                    backgroundColor: 'transparent',
                    colors: ['#4682b4', '#b0c4de'],
                    curveType: 'function',
                    legend: {position: 'top', textStyle: {fontSize: 10}}};

                var line_chart = new google.visualization.LineChart(document.getElementById('day_chart_div'));
                line_chart.draw(data, options);
            }


            //#--------------------------------------------------------------------------#//
            //Set Google Map Properties
            function myMap() {
                var myCenter = new google.maps.LatLng(53.3498,-6.2603);
                var mapCanvas = document.getElementById("googleMap");
                var mapOptions = {center: myCenter, zoom: 12};
                var map = new google.maps.Map(mapCanvas, mapOptions);

                //Set Markers For Stations On Map
                //Start loop here when we have the information read in...
                var marker = new google.maps.Marker({
                    position: {lat: 53.3498, lng: -6.2603},
                    map: map,});
                    google.maps.event.addListener(marker,'click',function() {
                        var infowindow = new google.maps.InfoWindow({
                        content:"Station information will appear with this click..."
                        });
                    infowindow.open(map,marker);
                });
            }
        </script>
	</head>

	<body>
		<h1>Dublin Bikes</h1>
		<div class='left'>
            <h2>{{ station }}</h2>
            <!--Charts-->
            <h5>Current Occupancy</h5>
			<div id="current_chart_div"></div>
            <h5>Occupancy By Time</h5>
            <div id="day_chart_div"></div>
            <div id="occupancy_chart_div"></div>
		</div>

		<div class="right">
			<!--Make a container for Google Map API-->
    		<div id="googleMap" style="width:100%;height:600px;"></div>
		</div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkUZsgbKCDZNWjntnPv5mQJplie2G4h64&callback=myMap"></script>
	</body>
</html>
