<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dublin Bikes</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- JavaScript -->
        <script type="text/javascript">
        // Global Variables - awful, right? Gonna remove them later (maybe).
        // Mode 0: Display Dry Weather
        // Mode 1: Display Wet Weather
        var weather_mode = 1; // -1 means no mode as been assigned. 
        var station_json = {};

        // Load the Visualization API and the ColumnChart package.
        google.load('visualization', '1', {'packages':['corechart']});

        // Waiting until document is ready before we start using AJAX. 
        $(document).ready(function() {
            // Initial station to be displayed.
            $.getJSON('http://localhost:5000/api/stations', function(json) {
{#                station = getLocation(json);#}
                station = "James Street";
                update(station, weather_mode);
            });

            // URL for API. 
            var openweather_api = 'http://api.openweathermap.org/data/2.5/weather?q=Dublin,IE&units=metric&APPID=e9b71166c5c433f0066ecbf407c8d9dc';

            // API call to get current weather info.
            $.getJSON(openweather_api, function(json) {     
                // Get current weather info
                var condition = json.weather[0].description;
                var icon = json.weather[0].icon;
                var temperature = json.main.temp;

                // Binning weather conditions / setting mode. 
                var condition_binned = 'Wet';
                {% for dry_condition in dry_conditions %}
                if ('{{ dry_condition }}' == condition) {
                    condition_binned = 'Dry';
                    weather_mode = 0;
                }
                {% endfor %}
                condition = condition_binned;

                // Display weather icon + summary
                weather_icon(icon);
                weather_summary(condition, temperature);

                // Display station
                update(station, weather_mode);
            });
        });


        //#--------------------------------------------------------------------------#//
        // Display live weather Icon at initial time of page load
        function weather_icon(icon) {
            // Set variable for Icon Div
            var icon_div = document.getElementById("weather_icon");
            // Insert icon
            icon_div.innerHTML = "<img src='http://openweathermap.org/img/w/" + icon + ".png'>";
        }


        //#--------------------------------------------------------------------------#//
        // Display live weather summary at initial time of page load
        function weather_summary(weather_sum, temperature) {
            var temp = document.getElementById("weather_sum");
            temp.innerHTML = '<i>' + temperature + 'c</i> <b>' + weather_sum + '</b>';
        }


        //#--------------------------------------------------------------------------#//
        // Calls API for station json - draws graphs
        function update(station, mode) {
            // API Call
            $.getJSON('http://localhost:5000/api/occupancy/' + encodeURIComponent(station), function(json) {
                station_json = json;
                // Setting heading
                document.getElementById("heading").innerHTML = station;
                button(mode);
                draw(json, mode)
            });
        }


        //#--------------------------------------------------------------------------#//
        // Draws graphs
        function draw(json, mode) {
            // If Mode == 0 - draw dry graphs
            if (mode == 0) {
                drawPieChart(json.current_dry);
                drawLineGraph(json.dry_day);
            }

            // Else, draw wet graphs
            else {
                drawPieChart(json.current_wet);
                drawLineGraph(json.wet_day);
            }
        }


        //#--------------------------------------------------------------------------#//
        // Draws the line graph, depicting occupancy for the full day.
        function drawPieChart(json) {
            // Pie chart options
            var options = {
                    chartArea: {width: '95%', height: '80%'},
                    pieSliceText: 'value',
                    fontName: 'Verdana',
                    fontSize: 10,
                    color: '#022b3a;',
                    backgroundColor: 'transparent',
                    colors: ['#4682b4', '#b0c4de'],
                    pieStartAngle: 90,};

            // Initializing pie chart
            var pie_chart = new google.visualization.PieChart(document.getElementById('current_chart_div'));
            // Drawing pie chart
            pie_chart.draw(formatCurrent(json), options);
        }


        //#--------------------------------------------------------------------------#//
        // Draws the line graph, depicting occupancy for the full day.
        function drawLineGraph(json) {
            // Line graph options
            var options = {
                    chartArea: {width: '80%', height: '69%'},
                    fontName: 'Verdana',
                    color: '#022b3a;',
                    backgroundColor: 'transparent',
                    colors: ['#4682b4', '#b0c4de'],
                    curveType: 'function',
                    legend: {position: 'top', textStyle: {fontSize: 10}},
                    vAxis: {viewWindow: {max:50, min:0}}
                };

            // Initializing line graph.
            var line_chart = new google.visualization.LineChart(document.getElementById('day_chart_div'));
            // Drawing line graph
            line_chart.draw(formatDay(json), options);
        }


        //#--------------------------------------------------------------------------#//
        // Formats current data for pie chart.
        // Takes a JSON file as input, returns a DataTable.
        function formatCurrent(json) {
            // Array to hold values for pie chart.
            var array = [['State', 'Number']];

            // Pushing an array of two elements (time, stands available) to array.
            array.push(['Spaces Available', json.available]);
            array.push(['Spaces Unavailable', json.bikes]);

            // Returning array, formatted as data table.
            return google.visualization.arrayToDataTable(array);
        }

         //#--------------------------------------------------------------------------#//
        // Formats full day data for line graph.
        // Takes a JSON file as input, returns a DataTable.
        function formatDay(json) {
            // Array to hold values for line graph.
            var array = [['Time', 'Empty Spaces']];
            // Looping through elements in JSON file.
            for (var i = 0; i < json.length; i++) {
                // Pushing an array of two elements (time, stands available) to array.
                array.push([json[i].time, json[i].available]);
            }
            // Returning array, formatted as data table.
            return google.visualization.arrayToDataTable(array);
        }

        //#--------------------------------------------------------------------------#//
        // Gets the location of the user
        function getLocation(json) {
            // If the user has location on then call findNearestFunction
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){
                    return findNearestStation(position, json);
                });
            } else {
                return "James Street";
            }
        }

        //#--------------------------------------------------------------------------#//
        // Gets the closest station to the user
        // Takes user position & JSON file as input, returns a station name
        function findNearestStation(position, json) {
                var userLat = position.coords.latitude;
                var userLong = position.coords.longitude;
                var min = 10000000000000000;
                var closestStation = "";
                var PI = Math.PI;

                // Calculation to find the distance between each station and the users location
                for (var i = 0; i < json.stations.length; i++) {
                    var R = 6371e3; //  radius of the earth in metres
                    var φ1 = userLat * (PI / 180);
                    var φ2 = json.stations[i].lat * (PI / 180);
                    var Δφ = (json.stations[i].lat-userLat) * (PI / 180);
                    var Δλ = (json.stations[i].lng-userLong) * (PI / 180);

                    var a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +
                        Math.cos(φ1) * Math.cos(φ2) *
                        Math.sin(Δλ/2) * Math.sin(Δλ/2);
                    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
                    var d = R * c;

                    if(d < min){
                        min = d;
                        closestStation = json.stations[i].name;
                    }
                }
                return closestStation;
        }


        //#--------------------------------------------------------------------------#//

        // Test test test test test test test test test test test
        function giveAddress(){
        $.getJSON('http://localhost:5000/api/stations', function(json) {
            {
                $.when($.ajax(getLocation(json))).then(function (i_am_data) {
                    console.log(i_am_data);
                    update(the_station_name, weather_mode);
                });
            }
        })
        }

{#        function giveAddress(){#}
{#            return $#}
{#                .getJSON('http://localhost:5000/api/stations') // first request#}
{#                .then(getLocation) // extract location#}
{#                .then(function(location) {#}
{#                    return $.ajax(location)#}
{#                        .then(function(data){return {#}
{#                            location: location,#}
{#                            data: data}#}
{#                        }) // keep location and data#}
{#                })#}
{#                .then(function(result) {#}
{#                    // use result.data#}
{#                    console.log(result);#}
{#                    update(result.location);#}
{#                })#}
{#        }#}


        //#--------------------------------------------------------------------------#//
        // Google Map
        function myMap() {
            // Centre of map
            var myCenter = new google.maps.LatLng(53.3498,-6.2603);

            // Initializing canvas
            var mapCanvas = document.getElementById("googleMap");

            // Map options
            var mapOptions = {
                center: myCenter, 
                zoom: 13,
                disableDefaultUI: true
            };

            // Creating map
            var map = new google.maps.Map(mapCanvas, mapOptions);


            // API Call
            $.getJSON('http://localhost:5000/api/stations', function(json) {
                // Looping through elements in JSON file.
                for (var i = 0; i < json.stations.length; i++) {
                    var opacity = json.stations[i].available / json.stations[i].total;
                    // Creating Marker
                    var marker = new google.maps.Marker({
                        position: {lat: json.stations[i].lat, lng: json.stations[i].lng},
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            strokeColor: '#4682b4',
                            strokeWeight: 1.5,
                            fillColor: '#4682b4',
                            fillOpacity: opacity,
                            scale: 8
                        },
                        map: map});

                    // Create infowindow on mouseover
                    var infowindow = new google.maps.InfoWindow();

                    // Contents of infowindow
                    var html = '<h4>' + json.stations[i].name + '</h4>' +
                        '<p><b style="padding-right: 5em;">Total Stands:</b>' + json.stations[i].total + '</p>' + 
                        '<p><b style="padding-right: 3.1em;">Available Stands:</b>' + json.stations[i].available + '</p>' + 
                        '<p><b style="padding-right: 0.025em;">Unavailable Stands:</b> &emsp;&emsp;' + json.stations[i].bikes + '</p>'
                    marker.html = html;

                    // Name of station
                    marker.name = json.stations[i].name;

                    // Mouse Over Functionality
                    google.maps.event.addListener(marker,'mouseover',function() {
                        // Set contents
                        infowindow.setContent(this.html);
                        // Open infowindow
                        infowindow.open(map, this);
                    }); 

                    // Mouse Off Functionality
                    google.maps.event.addListener(marker,'mouseout',function() {
                        // Close infowindow
                        infowindow.close();
                    }); 

                    // Mouse Click Functionality
                    google.maps.event.addListener(marker,'click',function() {
                        update(this.name, weather_mode);
                    }); 
                }
            });
        }


        //#--------------------------------------------------------------------------#//
        // Button to switch between dry graphs and wet graphs
        function button(mode) {
            if (mode !== weather_mode) {
                var button;
                if (mode == 0) button = document.getElementById('dry_btn');
                else if (mode == 1) button = document.getElementById('wet_btn');
                button.setActive;
                weather_mode = mode;
                draw(station_json, mode); 
            }
        }

        </script>

	</head>

	<body>
        <nav>
                <ul>
                    <li><h1>Dublin Bikes</h1></li>
                    <li><div id="weather_icon"></div></li>
                    <li><div id="weather_sum"></div></li>
                </ul>
        </nav>

		<div class='left'>
            <h2 id='heading'></h2>
            <!--Buttons-->
            <div class='buttons'>
                <button id='dry_btn' onclick="button(0)">Dry</button>
                <button id='wet_btn' onclick="button(1)">Wet</button>
                <button id='location_btn' onclick="giveAddress()">Find My Nearest Station</button>
            </div>
            <!--Charts-->
            <h5>Current Occupancy</h5>
			<div id="current_chart_div"></div>
            <h5>Occupancy By Time</h5>
            <div id="day_chart_div"></div>
		</div>

		<div class="right">
			<!--Make a container for Google Map API-->
    		<div id="googleMap" style="width:100%;height:600px;"></div>
		</div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkUZsgbKCDZNWjntnPv5mQJplie2G4h64&callback=myMap"></script>
	</body>
</html>
