<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dublin Bikes</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- JavaScript -->
        <script type="text/javascript">

        //Get current live temperature and weather summary
        var temp_j = "{{ temp }}";
        var weather_j = "{{ weather_desc }}";

        // Load the Visualization API and the ColumnChart package.
        google.load('visualization', '1', {'packages':['corechart']});

        // Waiting until document is ready before we start using AJAX. 
        $(document).ready(function() {
            // Initial station to be displayed.
            var station = 'Heuston Station (Central)';

            // Display station
            update(station);

            // Show Live Weather On Load
            weather_icon(weather_j);
            weather_summary(weather_j, temp_j)
        });


        //#--------------------------------------------------------------------------#//

        // Display live weather Icon at initial time of page load
        function weather_icon(weather_sum) {
            //Set variable for Icon Div
            var temp = document.getElementById("Weather_Icon");

            // Fetch and Display Open Weather Icon Depending On Weather Summary
            if (weather_sum == "Haze") {
                temp.innerHTML = "<img src='http://openweathermap.org/img/w/04d.png'>";
            } else if (weather_sum == "Clear") {
                temp.innerHTML = "<img src='http://openweathermap.org/img/w/01d.png'>";
            } else if (weather_sum =="Mist") {
                temp.innerHTML = "<img src='http://openweathermap.org/img/w/50d.png'>";
            } else if (weather_sum =="Fog") {
                temp.innerHTML = "<img src='http://openweathermap.org/img/w/50d.png'>";
            } else if (weather_sum =="Clouds") {
                temp.innerHTML = "<img src='http://openweathermap.org/img/w/03d.png'>";
            } else if (weather_sum =="Rain") {
                temp.innerHTML = "<img src='http://openweathermap.org/img/w/10d.png'>";
            } else {
                alert("Error: No Matching Weather Summary Found for Icon");
            }
        }

        // Display live weather summary at initial time of page load
        function weather_summary(weather_sum, temperature) {
            var temp = document.getElementById("Weather_Sum");
            temp.innerHTML = weather_sum + " " + temperature;
        }


        //#--------------------------------------------------------------------------#//
        // Updates the station currently being displayed. 
        function update(station) {
            // Setting heading
            document.getElementById("heading").innerHTML = station;

            // Draw Pie Chart
            drawPieChart(station);
            
            // Draw Line Graph
            drawLineGraph(station);
        }


        //#--------------------------------------------------------------------------#//
        // Draws the line graph, depicting occupancy for the full day.
        function drawPieChart(station) {
            // Replacing spaces in station name with underscores. 
            station = encodeURIComponent(station);

            // Pie chart options
            var options = {
                    chartArea: {width: '95%', height: '80%'},
                    pieSliceText: 'value',
                    fontName: 'Verdana',
                    fontSize: 10,
                    color: '#022b3a;',
                    backgroundColor: 'transparent',
                    colors: ['#4682b4', '#b0c4de'],
                    pieStartAngle: 90,};

            // Initializing pie chart
            var pie_chart = new google.visualization.PieChart(document.getElementById('current_chart_div'));

            // API Call
            $.getJSON('http://localhost:5000/api/current/' + station, function(json) {
                // Drawing pie chart.
                pie_chart.draw(formatCurrent(json), options);
            });
        }


        //#--------------------------------------------------------------------------#//
        // Draws the line graph, depicting occupancy for the full day.
        function drawLineGraph(station) {
            // Replacing spaces in station name with underscores. 
            station = encodeURIComponent(station);
            
            // Line graph options
            var options = {
                    chartArea: {width: '80%', height: '69%'},
                    fontName: 'Verdana',
                    color: '#022b3a;',
                    backgroundColor: 'transparent',
                    colors: ['#4682b4', '#b0c4de'],
                    curveType: 'function',
                    legend: {position: 'top', textStyle: {fontSize: 10}}
                };

            // Initializing line graph.
            var line_chart = new google.visualization.LineChart(document.getElementById('day_chart_div'));

            // API Call
            $.getJSON('http://localhost:5000/api/day/' + station, function(json) {
                // Drawing line graph
                line_chart.draw(formatDay(json), options);
            });
        }


        //#--------------------------------------------------------------------------#//
        // Formats current data for pie chart.
        // Takes a JSON file as input, returns a DataTable.
        function formatCurrent(json) {
            // Array to hold values for pie chart.
            var array = [['State', 'Number']];

            // Pushing an array of two elements (time, stands available) to array.
            array.push(['Spaces Available', json.current.available]);
            array.push(['Spaces Unavailable', json.current.bikes]);

            // Returning array, formatted as data table.
            return google.visualization.arrayToDataTable(array);
        }


        //#--------------------------------------------------------------------------#//
        // Formats full day data for line graph.
        // Takes a JSON file as input, returns a DataTable.
        function formatDay(json) {
            // Array to hold values for line graph.
            var array = [['Time', 'Empty Spaces']];

            // Looping through elements in JSON file.
            for (var i = 0; i < json.times.length; i++) {
                // Pushing an array of two elements (time, stands available) to array.
                array.push([json.times[i].time, json.times[i].available]);
            }

            // Returning array, formatted as data table.
            return google.visualization.arrayToDataTable(array);
        }


        //#--------------------------------------------------------------------------#//
        // Google Map
        function myMap() {
            // Centre of map
            var myCenter = new google.maps.LatLng(53.3498,-6.2603);

            // Initializing canvas
            var mapCanvas = document.getElementById("googleMap");

            // Map options
            var mapOptions = {
                center: myCenter, 
                zoom: 13
            };

            // Creating map
            var map = new google.maps.Map(mapCanvas, mapOptions);

            // API Call
            $.getJSON('http://localhost:5000/api/stations', function(json) {
                // Looping through elements in JSON file.
                for (var i = 0; i < json.stations.length; i++) {
                    // Creating Marker
                    var marker = new google.maps.Marker({
                        position: {lat: json.stations[i].lat, lng: json.stations[i].lng},
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            strokeColor: '#4682b4',
                            strokeWeight: 1.5,
                            fillColor: '#b0c4de',
                            fillOpacity: 0.5,
                            scale: 8
                        },
                        map: map,});

                    
                    // Create infowindow on mouseover
                    var infowindow = new google.maps.InfoWindow();

                    // Contents of infowindow
                    var html = '<h4>' + json.stations[i].name + '</h4>' +
                        '<p><b style="padding-right: 5em;">Total Stands:</b>' + json.stations[i].total + '</p>' + 
                        '<p><b style="padding-right: 3.1em;">Available Stands:</b>' + json.stations[i].available + '</p>' + 
                        '<p><b style="padding-right: 0.025em;">Unavailable Stands:</b> &emsp;&emsp;' + json.stations[i].bikes + '</p>'
                    marker.html = html;

                    // Name of station
                    marker.name = json.stations[i].name;

                    // Mouse Over Functionality
                    google.maps.event.addListener(marker,'mouseover',function() {
                        // Set contents
                        infowindow.setContent(this.html);
                        // Open infowindow
                        infowindow.open(map, this);
                    }); 

                    // Mouse Off Functionality
                    google.maps.event.addListener(marker,'mouseout',function() {
                        // Close infowindow
                        infowindow.close();
                    }); 

                    // Mouse Click Functionality
                    google.maps.event.addListener(marker,'click',function() {
                        update(this.name);
                    }); 
                }
            });
        }

        </script>

	</head>

	<body>
		<h1>Dublin Bikes</h1>
        <h3 id="Weather_Icon">Icon Here</h3>
		<h3 id="Weather_Sum">Weather summary here</h3>

		<div class='left'>
            <h2 id='heading'></h2>
            <!--Charts-->
            <h5>Current Occupancy</h5>
			<div id="current_chart_div"></div>
            <h5>Occupancy By Time</h5>
            <div id="day_chart_div"></div>
		</div>

		<div class="right">
			<!--Make a container for Google Map API-->
    		<div id="googleMap" style="width:100%;height:600px;"></div>
		</div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkUZsgbKCDZNWjntnPv5mQJplie2G4h64&callback=myMap"></script>
	</body>
</html>
